[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "collin"]
	path = collin
	url = https://github.com/cran/collin
[submodule "miclust"]
	path = miclust
	url = https://github.com/cran/miclust
[submodule "tlm"]
	path = tlm
	url = https://github.com/cran/tlm
